Flask==3.1.1
flask_cors==5.0.0
flask_sqlalchemy==3.1.1
python-dotenv==1.0.1

numpy>=1.26.0,<2.2.0
opencv-python==4.10.0.84

ultralytics==8.3.53
deep-sort-realtime==1.3.2
lapx==0.9.4  # linear assignment for ultralytics ByteTrack/BoT-SORT tracking

tensorflow==2.19.0

openai==1.95.1
